@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
}

 <div id="revslider-container">
                <div id="revslider">
                    <ul>
                        <li data-transition="cube" data-slotamount="8" data-masterspeed="800" data-title="Trends">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index2/slide1.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle customin customout"
                                data-x="center"
                                data-y="167"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000"
                                data-start="900"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">choies trend 2015
                            </div>

                            <div class="tp-caption rev-title customin customout"
                                data-x="center"
                                data-y="220"
                                data-speed="1100"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="1300"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 6">platform shoes
                            </div>


                            <div class="tp-caption rev-text customin customout"
                                data-x="center"
                                data-y="292"
                                data-speed ="1200"
                                data-customin="x:0;y:0;z:0;rotationX:-90;rotationY:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">From day to night, you'll be able to wear these gorgeous platform pumps on any occasion.
                            </div>

                            <div class="tp-caption rev-btn customin customout"
                                data-x="center"
                                data-y="391"
                                data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-customout="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0.75;scaleY:0.75;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1200"
                                data-start="2200"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 btn-lg min-width">Take look</a>
                            </div>
                        </li>
                        <li data-transition="incube" data-slotamount="8" data-masterspeed="800" data-title="Season Sale">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index2/slide2.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">

                            <div class="tp-caption rev-subtitle lft ltt"
                                data-x="176"
                                data-y="165"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">14/06/14 - 14/07/14
                            </div>

                            <div class="tp-caption rev-title sfl stl"
                                data-x="80"
                                data-y="220"
                                data-speed="1200"
                                data-start="1200"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 8">MID season sale
                            </div>

                            <div class="tp-caption rev-text sfr str"
                                data-x="45"
                                data-y="295"
                                data-speed ="1200"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">Mauris commodo nisl eu odio luctus, sed iaculis orci tincidunt. Suspendisse vulputate luctus.
                            </div>

                            <div class="tp-caption rev-btn lfb ltb"
                                data-x="223"
                                data-y="393"
                                data-speed="1100"
                                data-start="1800"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 btn-lg min-width">SHOP NOW</a>
                            </div>
                        </li>
                        <li data-transition="cube" data-slotamount="8" data-masterspeed="800" data-title="Stylish">
                            <!-- background image -->
                            <img src="images/revslider/dummy.png"  alt="slidebg1" data-lazyload="images/homesliders/index2/slide3.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                            
                            <div class="tp-caption rev-subtitle lft ltt"
                                data-x="838"
                                data-y="165"
                                data-speed="1000"
                                data-start="1000"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 10">STYLISH
                            </div>

                            <div class="tp-caption rev-title sfl stl"
                                data-x="697"
                                data-y="220"
                                data-speed="1200"
                                data-start="1200"
                                data-easing="Back.easeInOut"
                                data-endspeed="600"
                                style="z-index: 8">SUITS &amp; COATS
                            </div>

                            <div class="tp-caption rev-text short sfr str"
                                data-x="625"
                                data-y="295"
                                data-speed ="1200"
                                data-start="1600"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 12">Etiam interdum eu ante eget viverra. Sed consequat luctus sapien sed ultrices integer quis.
                            </div>

                            <div class="tp-caption rev-btn lfb ltb"
                                data-x="800"
                                data-y="393"
                                data-speed="1100"
                                data-start="1800"
                                data-easing="Power3.easeInOut"
                                data-endspeed="600"
                                style="z-index: 14">
                                    <a href="category.html" class="btn btn-custom-3 btn-lg min-width">SHOP NOW</a>
                            </div>
                        </li>
                    </ul>
                </div><!-- End #revslider -->
            </div><!-- End #revslider-container -->

            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="banner banner-sm text-right">
                            <img src="images/banners/banner-sm.jpg" alt="Banner 1">
                            <div class="banner-container">
                                <div class="vcenter-container">
                                    <div class="vcenter ">
                                        <div class="banner-content text-uppercase">
                                            <h4>New Men</h4>
                                            <h3>COLLECTION</h3>
                                            <a href="#" class="btn btn-custom-7 min-width-md">Buy it now</a>
                                        </div><!-- End .banner-content -->
                                    </div><!-- End .row -->
                                </div><!-- End .vcenter-container -->
                            </div><!-- End .banner-container -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                    <div class="col-md-6">
                        <div class="banner banner-sm last text-right">
                            <img src="images/banners/banner-sm2.jpg" alt="Banner 2">
                            <div class="banner-container">
                                <div class="vcenter-container">
                                    <div class="vcenter ">
                                        <div class="banner-content text-uppercase">
                                            <h4>Our hot</h4>
                                            <h3>New ARRIVALS</h3>
                                            <a href="#" class="btn btn-custom-7 min-width-md">Shop now</a>
                                        </div><!-- end .banner-content -->
                                    </div><!-- End .row -->
                                </div><!-- End .vcenter-container -->
                            </div><!-- End .banner-container -->
                        </div><!-- End .banner -->
                    </div><!-- End .col-sm-6 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
            
            <div class="xlg-margin"></div><!-- space -->

            <div class="container">
                <div class="carousel-container">
                    <h2 class="carousel-title">New Arrivals</h2>
                    <div class="row">
                        <div class="owl-carousel new-arrivals-carousel">
                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product6.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$88.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <span class="discount-box top-left">-50%</span>
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Mustard yellow ruffle dress">
                                            <img src="images/products/product7.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$55.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product9.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$187.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <span class="new-box top-left">New</span>
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product1.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$187.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Mustard yellow ruffle dress">
                                            <img src="images/products/product11.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$70.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->
                            <div class="product product2">
                                    <div class="product-top">
                                        <span class="outofstock-box top-right">Out of <span>Stock</span></span>
                                        <figure class="product-image-container">
                                            <a href="product.html" title="Navy Blue Silk Pleated Dress">
                                                <img src="images/products/product8.jpg" alt="Product image" class="product-image">
                                                <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                            </a>
                                        </figure>
                                    </div><!-- End .product-top -->
                                    <div class="product-price-container text-left">
                                        <span class="product-old-price">$220.00</span>
                                        <span class="product-price">$180.00</span>
                                    </div><!-- End .product-price-container -->
                                    <h3 class="product-name text-left"><a href="product.html" title="Navy Blue Silk Pleated Dress">Navy Blue Silk Pleated Dress</a></h3>
                                    
                                    <div class="product-action-container clearfix">
                                        <a href="#" title="Add to Cart" class="product-add-btn">
                                            <span class="add-btn-text">Add to Cart</span>
                                            <span class="product-btn product-cart">Cart</span>
                                        </a>
                                        <div class="product-action-inner">
                                            <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                            <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                        </div><!-- End .product-action-right -->
                                    </div><!-- End .product-action-container -->
                                </div><!-- End .product -->
                        </div><!-- End .owl-carousel -->
                    </div><!-- End .row -->
                 </div><!-- End .carousel-container -->
            </div><!-- End .container -->
            
            <div class="lg-margin3x xs-margin2x"></div><!-- space -->

            <div class="testimonials-section home parallax" data-stellar-background-ratio="0.4">
                <div class="container">
                    <h2 class="h1">TESTIMONIALS</h2>
                </div><!-- End .container -->

                <div class="vcenter-container">
                    <div class="vcenter bottom-nav">
                        <div class="owl-carousel testimonials-slider">
                            <div class="testimonial">
                                <span class="quote-icon"></span>
                                <p>Maecenas semper aliquam massa. Praesent pharetra sem vitae nisi eleifend molestie. Aliquam molestie scelerisque ultricies. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus tempor dictum ornare. Maecenas pellentesque nibh ac suscipit sodales.</p>
                                <span class="testimonial-owner">Anna Retallick</span>
                            </div><!-- End .testimonial -->
                            <div class="testimonial">
                                <span class="quote-icon"></span>
                                <p>Phasellus eu ipsum vestibulum augue euismod ultrices. Donec mattis urna arcu, convallis sodales augue vehicula in. Suspendisse tempus lacus augue, eu iaculis ipsum pretium. Suspendisse potenti. Suspendisse potenti. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                <span class="testimonial-owner">Jake Retallick</span>
                            </div><!-- End .testimonial -->
                        </div><!-- End .about-banner-slider -->
                    </div><!-- End .vcenter -->
                </div><!-- End .vcenter-container -->
            </div><!-- end .testimonials-section -->

            <div class="lg-margin3x xs-margin2x"></div><!-- space -->

            <div class="container">
                <div class="carousel-container">
                    <h2 class="carousel-title">Bestsellers</h2>
                    <div class="row">
                        <div class="owl-carousel top-bestsellers-carousel">
                            <div class="product product2">
                                <div class="product-top">
                                    <span class="hot-box top-left">Hot</span>
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Mustard yellow ruffle dress">
                                            <img src="images/products/product11.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$70.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->
                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Navy Blue Silk Pleated Dress">
                                            <img src="images/products/product8.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-old-price">$220.00</span>
                                    <span class="product-price">$180.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="Navy Blue Silk Pleated Dress">Navy Blue Silk Pleated Dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->
                            <div class="product product2">
                                <div class="product-top">
                                    <span class="outofstock-box top-left">Out of <span>Stock</span></span>
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product6.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$88.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="Mustard yellow ruffle dress">
                                            <img src="images/products/product7.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$55.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="Mustard yellow ruffle dress">Mustard yellow ruffle dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product9.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product2-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$187.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                            <div class="product product2">
                                <div class="product-top">
                                    <span class="new-box top-left">New</span>
                                    <figure class="product-image-container">
                                        <a href="product.html" title="White linen sheer dress">
                                            <img src="images/products/product1.jpg" alt="Product image" class="product-image">
                                            <img src="images/products/product1-hover.jpg" alt="Product image hover" class="product-image-hover">
                                        </a>
                                    </figure>
                                </div><!-- End .product-top -->
                                <div class="product-price-container text-left">
                                    <span class="product-price">$187.00</span>
                                </div><!-- End .product-price-container -->
                                <h3 class="product-name text-left"><a href="product.html" title="White linen sheer dress">White linen sheer dress</a></h3>
                                
                                <div class="product-action-container clearfix">
                                    <a href="#" title="Add to Cart" class="product-add-btn">
                                        <span class="add-btn-text">Add to Cart</span>
                                        <span class="product-btn product-cart">Cart</span>
                                    </a>
                                    <div class="product-action-inner">
                                        <a href="#" title="Favorite" class="product-btn product-favorite">Favorite</a>
                                        <a href="#" title="Compare" class="product-btn product-compare">Compare</a>
                                    </div><!-- End .product-action-right -->
                                </div><!-- End .product-action-container -->
                            </div><!-- End .product -->

                        </div><!-- End .owl-carousel -->
                    </div><!-- End .row -->
                 </div><!-- End .carousel-container -->
            </div><!-- End .container -->

            <div class="lg-margin3x xs-margin2x"></div><!-- space -->
            <div class="sm-margin visible-xs"></div><!-- space xs -->

            <div class="container">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="feature-box feature-box-inline clearfix">
                            <span class="feature-icon icon-delivery"></span>
                            <div class="feature-content">
                                <h3>Free Delivery</h3>
                                <p>Cras pellentesque, nisi ac tempus pellentesque, orci sem commodo urna, amet egestas ipsum orci sit amet.</p>
                            </div><!-- End .feature-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="feature-box feature-box-inline clearfix">
                            <span class="feature-icon icon-service"></span>
                            <div class="feature-content">
                                <h3>24/h customer service</h3>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas praesent tempor.</p>
                            </div><!-- End .feature-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="feature-box feature-box-inline clearfix">
                            <span class="feature-icon icon-secured"></span>
                            <div class="feature-content">
                                <h3>payment secured</h3>
                                <p>Aenean porta adipiscing tortor, nec consequat nisi mollis sed. Aliquam orn are magna sed leo varius, quis.</p>
                            </div><!-- End .feature-content -->
                        </div><!-- End .feature-box -->
                    </div><!-- End .col-sm-4 -->
                </div><!-- End .row -->
            </div><!-- End .container -->

            <div class="xlg-margin hidden-xs"></div><!-- space -->
            <div class="sm-margin visible-xs"></div><!-- space xs -->

            <div class="container">
                <div class="carousel-container">
                    <h2 class="carousel-title">From The blog</h2>
                    <div class="row">
                        <div class="owl-carousel blog-posts-carousel">
                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post1.jpg" class="img-responsive" alt="Post 1"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">05 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">15 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>In quis malesuada mi, interdum sagittis est. Nunc a libero tristique, condimentum velit eget, tristique sem. Nam auctor orci eget nunc condimentum sollicitudin.</p>
                            </article><!-- End .article -->

                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post2.jpg" class="img-responsive" alt="Post 2"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">12 Dec</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">27 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Donec Ante Molestie In Dolor</a></h3>
                                <p>Maecenas sodales justo tortor, quis commodo libero pharetra nec. Nunc pretium mi ac tellus porttitor auctor. Phasellus tincidunt porta diam, ut volutpat neque volutpat sed.</p>
                            </article><!-- End .article -->

                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post3.jpg" class="img-responsive" alt="Post 3"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">18 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">11 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>Vivamus mollis varius metus in egestas. Vestibulum blandit auctor dolor. Praesent iaculis ultrices accumsan. Integer sollicitu din consectetur lectus, vitae vulputate velit.</p>
                            </article><!-- End .article -->
                            
                            <article class="article">
                                <div class="article-media-container">
                                    <a href="single.html"><img src="images/blog/post4.jpg" class="img-responsive" alt="Post 4"></a>
                                </div><!-- End .article-media-container -->

                                <div class="article-meta-box">
                                    <span class="article-icon article-date-icon"></span>
                                    <span class="meta-box-text">03 Nov</span>
                                </div><!-- End .article-meta-box -->
                                <div class="article-meta-box article-meta-comments">
                                    <span class="article-icon article-comment-icon"></span>
                                    <a href="#" class="meta-box-text">18 Com</a>
                                </div><!-- End .article-meta-box -->

                                <h3><a href="single.html">Lorem ipsum dolor sit amet</a></h3>
                                <p>In quis malesuada mi, interdum sagittis est. Nunc a libero tristique, condimentum velit eget, tristique sem. Nam auctor orci eget nunc condimentum sollicitudin.</p>

                            </article><!-- End .article -->

                        </div><!-- End .container -->
                    </div><!-- End .container -->
                </div><!-- End .carousel-container -->
            </div><!-- End .container -->

            <div class="lg-margin2x hidden-xs"></div><!-- space -->
            <div class="xlg-margin visible-xs"></div><!-- space -->

            <div class="container">
                <div class="carousel-container">
                    <h2 class="carousel-title">Our Brands</h2>
                    <div class="row">
                        <div class="owl-carousel brands-carousel">
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                            <div class="brand"><a href="#"><img src="images/brands/brand.jpg" alt="Brand name"></a></div><!-- End .brand -->
                        </div><!-- End .container -->
                    </div><!-- End .container -->
                </div><!-- End .container -->
            </div><!-- End .container -->
            
            <div class="md-margin2x half hidden-xs"></div><!-- space -->
            <div class="lg-margin visible-xs"></div><!-- space -->