<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT Merch1Product ANY>
<!ATTLIST Merch1Product id ID #REQUIRED>

]>
<root id="-1">
  <Merch1Product id="1049" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-03-01T17:03:36" updateDate="2015-03-01T17:09:16" nodeName="index" urlName="index" path="-1,1049" isDoc="" nodeType="1046" creatorName="tim" writerName="tim" writerID="0" template="1048" nodeTypeAlias="Merch1Product">
    <product><![CDATA[34d956ba-5722-4dee-83f2-e3b79abdc200]]></product>
    <productDescripton><![CDATA[some shit]]></productDescripton>
  </Merch1Product>
</root>